.reklame-res-container
    img.place-of-image.desktop-v-rek-1(src="/img/reklame/reklam-desktop.jpg")
    img.place-of-image.ipad-v-rek-1(src="/img/reklame/reklam-ipad.jpg")
    img.place-of-image.mobile-v-rek-1(src="/img/reklame/reklam-mobile.jpg")
//.reklame-res-container.mobile-v-rek
  img.place-of-image(src="/img/1500x500.jpg")