section.posterThree
      .posterTwo__title(href="#")
        p پڕۆفایلەکان
      .facts
        .facts__fact.facts__fact--1
          a.facts-fact__link(href="#")
            img.facts__fact__img(src="img/gal-8.jpeg" alt="Poster 1")
            p.fact__titleFilm هەوال و زانیاری
        .facts__fact.facts__fact--2
          a.facts-fact__link(href="#")
            img.facts__fact__img(src="img/gal-8.jpeg" alt="Poster 1")
            p.fact__titleFilm هەوال و زانیاری
        .facts__fact.facts__fact--3
          a.facts-fact__link(href="#")
            img.facts__fact__img(src="img/gal-8.jpeg" alt="Poster 1")
            p.fact__titleFilm هەوال و زانیاری