extends base

block content
    section.posterOne
        .posterOne__title(href="#")
            p نواندنکاران
        .posters

            each poster in actor
                .poster
                    a.poster__link(href=`/movies/${poster.slug}`)
                        img.poster__img(src=`/img/posters/${poster.photo}`, alt="" loading="lazy")
                        p.poster__titleFilm= poster.title