doctype html
html
  head
    block head
     meta(charset='UTF-8')
     title tulip cinema - سینەمای تولیپ
     link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i' rel='stylesheet')
     link(rel='stylesheet' href='/css/style.css')
     link(rel='stylesheet' href='/css/stylee.css')
     link(rel='stylesheet' href='/css/article.css') 
     link(rel='stylesheet' href='/css/profile.css')
     link(rel='stylesheet' href='/css/memberProfile.css')
     link(rel="stylesheet", href="/css/swiper2.css")
     link(rel='shortcut icon' type='image/jpg' href='/img/logo.jpg')
     meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
     meta(name="mobile-web-app-capable" content="yes")
     meta(name="apple-mobile-web-app-status-bar-style" content="black")
     meta(name="description" content="کۆگایەک تایبەت بە نوسینی سینەمای تولیپ سینەما")
     meta(name="format-detection" content="telephone=no")
     meta(name="keywords" content="tulip cinema, tulip, tulipcinema, tulipcinama, cinema tulip, tulibcinema")
     meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
     meta(name="HandheldFriendly" content="true")
     meta(http-equiv="X-UA-Compatible" content="IE=edge")
     meta(http-equiv="content-language" content="en")
     meta(name="author" content="tulipcinema")
     meta(property="og:site_name" content="tulipcinema.com")
     meta(property="article:publisher" content="/tulipcinema")
     script(src='/js/modernizr.js')
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js")
     // Modernizr
     link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
     script(src="/js/loader.js" type="text/javascript")

  //<div class="hama"><div class="loader">Loading...</div></div>
  body.container(lang='ar')
    .hama
      .loader Loading...
    .searchCover
      header.cd-main-header
        a.cd-logo(href="/")
          img(src="/img/logo.jpg" alt="Logo")
        ul.cd-header-buttons
          li
            a.cd-search-trigger(href="#cd-search")
              | Search
              span
          li
            a.cd-nav-trigger(href="#cd-primary-nav")
              | Menu
              span
      main.cd-main-content
        block content
          h2 hello
        footer.footer
          .holder-up
            .holder-up__About
              h6.holder-up__title سینەمای تولیپ
              p.holder-up__paragraph.text-justify
                | ڕێکخراوێکی سەربەخۆی ناحکومییە بەشێوەی مەیدانی و ئۆنڵاین لە بواری سینەمادا کاردەکات
                | چالاکییە مەیدانییەکانمان بریتییە لە سیمینار، کۆڕ، پەخشکردنی فیلم، ناساندن و هتد...
                | ئۆنڵاینەکانمان بریتییە لە کارکردنی ڕۆژانە لە پێگەکانمان  کە بریتین لە وێبسایتێک
                | و پەیجێکی فەیسووک بۆ شیکردنەوە، هەواڵ، زانیاری، فاکت و هتد.
            .holder-up__Categories
              h6.holder-up__title 
              ul.holder-up__links
                li
                  a.holder-up__links-tag(href="#") 
                li
                  a.holder-up__links-tag(href="/director") دەرهێنەران
                li
                  a.holder-up__links-tag(href="/actor") نواندنکاران
                li
                  a.holder-up__links-tag(href="/Top-250-movie-rated") باشترین ٢٥٠ فیلم
                li
                  a.holder-up__links-tag(href="/company") کۆمپانیاکان
                li
                  a.holder-up__links-tag(href="/chamkakan") چەمکەکان
            .holder-up__quick
              h6.holder-up__title بەشەکانی وێبسایتی سینەمای تولیپ
              ul.holder-up__links
                li 
                  a.holder-up__links-tag(href="/") سەرەتا
                li
                  a.holder-up__links-tag(href="/variety") هەمەجۆر
                li
                  a.holder-up__links-tag(href="/film") فیلم
                li
                  a.holder-up__links-tag(href="/series") زنجیرە
                li
                  a.holder-up__links-tag(href="/chashn") چەشنەکان
          hr
          .holder-down
            p.holder-down__copyright
              | Tulip Cinema © 2020 All Rights Reserved
            a.developer(href="https://web.facebook.com/mohamedmohamed.nazmnazm" title="join facebook") developed by Mohammed Nazm
              
            ul.holder-down__icons
              .effect.lavinia
                .buttons
                  a.fb(href="https://www.facebook.com/Tulip.Cinema" title="Join us on Facebook")
                    i.fa.fa-facebook(aria-hidden="true")
                  a.insta(href="https://www.instagram.com/tulip.cinema/?igshid=b3p6uzyeofes" title="Join us on Instagram")
                    i.fa.fa-instagram(aria-hidden="true")
        .cd-overlay
      nav.cd-nav
        ul#cd-primary-nav.cd-primary-nav.is-fixed
          
              
          
          li
            a(href="/profiles") پڕۆفایلەکان
          li
            a(href="/gift") خەڵاتەکان
          li
            a(href="/chamkakan") چەمکەکان
          li
            a(href="/company") کۆمپانیاکان
          li
            a(href="/Top-250-movie-rated") باشترین ٢٥٠ فیلم
          li
            a(href="/actor") نواندنکاران
          li
            a(href="/director") دەرهێنەران
          li
            a(href="/chashn") چەشنەکان
          li
            a(href="/series") زنجیرە
          li
            a(href="/film") فیلم
          li
            a(href="/variety") هەمەجۆر
          li
            a(href="/") سەرەتا
      #cd-search.cd-search
        form
          input#search.form-control.form-control-lg(type="text" placeholder="...گەڕان")
          #match-list.searchContainer
      
      script(src="/js/search.js")
      script(src="/js/jquery-2.1.1.js")
      script(src="/js/jquery.mobile.custom.min.js")
      script(src="/js/main.js")
      // Resource jQuery