extends base

block content
    section.posterOne
        .posterOne__title(href="#")
            p فیلمەکان
        .posters

            each poster in film
                .poster
                  a.poster__link(href=`/movies/${poster.slug}`)
                    img.poster__img(src=`/img/posters/${poster.photo}`, alt="Poster 1")
                    p.poster__titleFilm= poster.title 