/* Better box-sizing */
* {
    box-sizing: border-box;
}

/* 1rem = 10px */
html {
    font-size: 62.5%;
}

/* Default body */
.articleContainer {
    margin: 0;
    opacity: 0;
    font: 1.6rem/1.875 'Avenir Next', sans-serif;
}

/* Loaded body */
body.loaded {
    opacity: 1;
    transition: 1s opacity;
}

/* Default banner */
.banner {
    position: relative;
    width: 100%;
    height: 40rem;
    padding: 0 5%;
    overflow: hidden;
    backface-visibility: hidden;
}

/* Default image container */
.banner .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0, 0, 0) scale(1.25);
    background: black url(/img/poster-1.png) no-repeat center center;
    background-size: cover;
}

/* Loaded image container */
.loaded .banner .background {
    transform: scale(1);
    transition: 6.5s transform;
}

/* Other stuff */
.header {
    color: #EEE;
    margin: 0;
    line-height: 40rem;
    text-transform: uppercase;
    text-shadow: 0 0 .3rem black;
}

.headerArticle {
    text-align: right;
}

.mainContainer {
    width: 90%;
    margin: 5rem auto;
}

.mainContainer p {
    margin: 0 0 3rem 0;
    text-align: right;
}

.description__text {
    font-size: 1.8rem;
}