:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1);
  background-color: #F5F5F5;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns: [full-start] 1.3rem [cover-start] 2.2rem [poster-start] 1fr repeat(16, [col-start] minmax(min-content, 8.5rem) [col-end]) 1fr [poster-end] 2.2rem [cover-end] 1.3rem [full-end];
}

.searchCover {
  grid-column: full-start / full-end;
  margin-bottom: 1rem;
}

/*

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

*/
hr.beautiful-line {
  border-top: 1px solid #000;
  width: 90%;
}

.realkljtors__sold {
  font-weight: bold;
  font-size: 1.6rem;
}

.swiper {
  background-color: #EBEBEB;
  grid-column: cover-start / cover-end;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .swiper {
    grid-template-columns: 8em 1fr 8em;
  }
}

@media only screen and (max-width: 50em) {
  .swiper {
    grid-template-columns: 8em 1fr 8em;
  }
}

@media only screen and (max-width: 37.5em) {
  .swiper {
    grid-template-columns: none;
  }
}

@media only screen and (max-width: 24em) {
  .swiper {
    grid-template-rows: 0 1fr 10rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 24em) {
  .swiper {
    grid-template-rows: 0 1fr 10rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .reklame-2 .rek img {
    height: 0;
  }
}

@media only screen and (max-width: 600px) {
  .reklame-2 .rek img {
    height: 24rem;
    width: 60rem;
  }
}

@media only screen and (max-width: 435px) {
  .reklame-2 .rek img {
    height: 16rem;
    width: 44rem;
  }
}

@media only screen and (max-width: 385px) {
  .reklame-2 .rek img {
    height: 14rem;
    width: 36rem;
  }
}

.reklame img {
  height: 40rem;
  padding: 0 0.5rem;
}



.reklame-2 img {
  height: 40rem;
  padding: 0 0.5rem;

}

@media only screen and (max-width: 1167px) {
  .reklame img {
    height: 35rem;
  }
}

@media only screen and (max-width: 995px) {
  .reklame img {
    height: 33rem;
  }
}

@media only screen and (max-width: 1167px) {
  .reklame-2 img {
    height: 35rem;
  }
}

@media only screen and (max-width: 995px) {
  .reklame-2 img {
    height: 33rem;
  }
}


@media only screen and (max-width: 802px) {
  .reklame-2 img {
    height: 0;
  }
}

@media only screen and (max-width: 600px) {
  .reklame-2 img {
    height: 25rem;
    width: 60rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 461px) {
  .reklame-2 img {
    height: 16rem;
    width: 26rem;
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 416px) {
  .reklame-2 img {
    height: 14rem;
    width: 23rem;
    margin-left: -1rem;
  }
}



@media only screen and (max-width: 385px) {
  .reklame-2 img {
    height: 14rem;
    width: 21rem;
    margin-left: -0.9rem;
  }
}

@media only screen and (max-width: 375px) {
  .reklame-2 img {
    height: 14rem;
    width: 21rem;
    margin-left: -2rem;
  }
}

@media only screen and (max-width: 360px) {
  .reklame-2 img {
    height: 12rem;
    width: 20rem;
    margin-left: -2.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .reklame img {
    height: 18rem;
    width: 60rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 461px) {
  .reklame img {
    height: 16rem;
    width: 25rem;
    margin-bottom: -35.58rem;
    margin-left: 22rem;
  }
}

@media only screen and (max-width: 416px) {
  .reklame img {
    height: 14rem;
    width: 24rem;
    margin-bottom: -33.58rem;
    margin-left: 19rem;
  }
}

@media only screen and (max-width: 385px) {
  .reklame img {
    height: 14rem;
    width: 21.5rem;
    margin-bottom: -32rem;
    margin-left: 16.5rem;
  }
}


@media only screen and (max-width: 375px) {
  .reklame img {
    height: 14rem;
    width: 21.5rem;
    margin-bottom: -32.1rem;
    margin-left: 16rem;
  }
}

@media only screen and (max-width: 362px) {
  .reklame img {
    height: 12rem;
    width: 21.5rem;
    margin-bottom: -28.1rem;
    margin-left: 14rem;

  }
}

@media only screen and (max-width: 361px) {
  .reklame img {
    height: 14rem;
    width: 20.5rem;
    margin-bottom: -32.1rem;
    margin-left: 16rem;

  }
}

@media only screen and (max-width: 360px) {
  .reklame img {
    height: 12rem;
    width: 21.5rem;
    margin-bottom: -29.1rem;
    margin-left: 14rem;

  }
}

@media only screen and (max-width: 352px) {
  .reklame img {
    height: 12rem;
    width: 21.5rem;
    margin-bottom: -28.1rem;
    margin-left: 14rem;

  }
}

@media only screen and (max-width: 320px) {
  .reklame img {
    height: 12rem;
    width: 21.5rem;
    margin-bottom: -28.1rem;
    margin-left: 14rem;

  }
}


.slider {
  width: 80rem;
  height: 40rem;
  overflow: hidden;
}



@media only screen and (max-width: 75em) {
  .slider {
    width: 60rem;
    height: 35rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .slider {
    width: 48rem;
    height: 33rem;
  }
}



@media only screen and (max-width: 37.5em) {
  .slider {
    width: 57rem;
    height: 33rem;
    margin: 9px auto;
  }
}


@media only screen and (max-width: 24.0625em) {
  .slider {
    width: 45rem;
    height: 26rem;
  }
}




@media only screen and (max-width: 28.75em) {
  .slider {
    width: 38rem;
    height: 26rem;
  }
}

@media only screen and (max-width: 461px) {
  .slider {
    width: 40rem;
    height: 20rem;
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 385px) {
  .slider {
    width: 36rem;
    height: 20rem;
  }
}



@media only screen and (max-width: 375px) {
  .slider {
    width: 36rem;
    height: 20rem;
    margin-top: -2rem;
  }
}





@media only screen and (max-width: 24em) {
  .slider {
    width: 34rem;
    height: 21rem;
  }
}




@media only screen and (max-width: 360px) {
  .slider {
    width: 34rem;
    height: 20rem;
    margin-top: -2rem;
  }
}


@media only screen and (max-width: 22em) {
  .slider {
    width: 29.5rem;
    height: 17rem;
    margin-top: 0;
  }
}





.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 80rem;
  height: 40rem;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media only screen and (max-width: 75em) {
  .slide img {
    width: 60rem;
    height: 35rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .slide img {
    width: 52rem;
    height: 35rem;
  }
}

@media only screen and (max-width: 50em) {
  .slide img {
    width: 52rem;
    height: 35rem;
  }
}



@media only screen and (max-width: 28.75em) {
  .slide img {
    width: 45rem;
    height: 26rem;
  }
}



@media only screen and (max-width: 24.0625em) {
  .slide img {
    width: 38rem;
    height: 26rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .slide img {
    width: 57rem;
    height: 33rem;
  }
}

@media only screen and (max-width: 461px) {
  .slide img {
    width: 40rem;
    height: 20rem;
  }
}


@media only screen and (max-width: 24em) {
  .slide img {
    width: 34rem;
    height: 21rem;
  }
}

@media only screen and (max-width: 385px) {
  .slide img {
    width: 36rem;
    height: 21rem;
  }
}


@media only screen and (max-width: 375px) {
  .slide img {
    width: 36rem;
    height: 21rem;
  }
}

@media only screen and (max-width: 360px) {
  .slide img {
    width: 34rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 22em) {
  .slide img {
    width: 29.5rem;
    height: 17rem;
  }
}

.slide img:hover {
  -webkit-filter: brightness(70%);
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 80rem;
  margin-top: -14rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 75em) {
  .navigation-manual {
    width: 59rem;
    margin-top: -19rem;
  }
}


@media only screen and (max-width: 28.75em) {
  .navigation-manual {
    width: 46rem;
    margin-top: -27rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .navigation-manual {
    width: 52rem;
    margin-top: -20rem;
  }
}

@media only screen and (max-width: 28.75em) {
  .navigation-manual {
    width: 41rem;
    margin-top: -27rem;
  }
}

@media only screen and (max-width: 461px) {
  .navigation-manual {
    width: 44rem;
    margin-top: -32rem;
  }
}

@media only screen and (max-width: 385px) {
  .navigation-manual {
    width: 39rem;
    margin-top: 18rem;
  }
}

@media only screen and (max-width: 24.0625em) {
  .navigation-manual {
    width: 39rem;
    margin-top: -32rem;
  }
}

@media only screen and (max-width: 24em) {
  .navigation-manual {
    width: 35rem;
    margin-top: -31.5rem;
  }
}

@media only screen and (max-width: 22em) {
  .navigation-manual {
    width: 29rem;
    margin-top: -36rem;
  }
}


.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 80rem;
  justify-content: center;
  margin-top: 36rem;
}

@media only screen and (max-width: 75em) {
  .navigation-auto {
    width: 59rem;
    margin-top: 31rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .navigation-auto {
    width: 52rem;
    margin-top: 30rem;
  }
}

@media only screen and (max-width: 28.75em) {
  .navigation-auto {
    width: 41rem;
    margin-top: 23rem;
  }
}

@media only screen and (max-width: 461px) {
  .navigation-auto {
    width: 44rem;
    margin-top: 18rem;
  }
}



@media only screen and (max-width: 24.0625em) {
  .navigation-auto {
    width: 39rem;
    margin-top: 23rem;
  }
}

@media only screen and (max-width: 385px) {
  .navigation-auto {
    width: 39rem;
    margin-top: 18rem;
  }
}

@media only screen and (max-width: 24em) {
  .navigation-auto {
    width: 35rem;
    margin-top: 18.5rem;
  }
}

@media only screen and (max-width: 22em) {
  .navigation-auto {
    width: 29rem;
    margin-top: 14rem;
  }
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #40D3DC;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #515252;
}

.posterOne {
  background-color: #0000000a;
  grid-column: cover-start / cover-end;
  border: 1px solid #2222220f;
  border-top: 2px solid #399;
  border-radius: 2px;
  margin-bottom: 4rem;
}

.posterOne__title {
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.posters {
  padding: 2rem;
  grid-column: poster-start / poster-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 2rem;
}

.poster__img {
  width: 202px;
  height: 305px;
  transition: 1s ease;
  border-radius: 2%;
}

.poster__titleFilm {
  text-align: center;
  font-size: 1.4rem;
}

@media only screen and (max-width: 361px) {
  .poster__titleFilm {
    text-align: center;
    font-size: 1.2rem;
  }
}

.developer {
  color: #869fb2;
  text-decoration: underline;
}


.poster__link {
  list-style: none;
  text-decoration: none;
}

.poster:hover {
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.posterTwo {
  background-color: #0000000a;
  grid-column: cover-start / cover-end;
  border: 1px solid #2222220f;
  border-top: 2px solid #399;
  border-radius: 2px;
  margin-bottom: 4rem;
}

.posterTwo__title {
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.posters {
  padding: 2rem;
  grid-column: poster-start / poster-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .posters {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

@media only screen and (max-width: 22em) {
  .posters {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    padding: 1rem;
    grid-gap: 1rem;
  }
}

.poster__img {
  width: 202px;
  height: 305px;
  transition: 1s ease;
}

@media only screen and (max-width: 62.5em) {
  .poster__img {
    width: 169px;
    height: 235px;
  }
}

@media only screen and (max-width: 22em) {
  .poster__img {
    width: 120px;
    height: 191px;
  }
}

.poster__img:hover {
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.poster__titleFilm {
  text-align: center;
  font-size: 1.4rem;
}

.posterThree {
  grid-column: cover-start / cover-end;
  background-color: #0000000a;
  border: 1px solid #2222220f;
  border-top: 2px solid #399;
  border-radius: 2px;
  margin-bottom: 4rem;
}

.posterThree__title {
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.facts {
  padding: 2rem;
  grid-column: poster-start / poster-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
}

@media only screen and (max-width: 75em) {
  .facts {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  }
}

@media only screen and (max-width: 75em) {
  .facts {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }
}

@media only screen and (max-width: 37.5em) {
  .facts {
    padding: 0;
  }
}

.facts__fact {
  padding: 2rem;
}

.facts__fact__img {
  width: 416px;
  height: 225px;
}

@media only screen and (max-width: 75em) {
  .facts__fact__img {
    height: 194px;
  }
}

@media only screen and (max-width: 62.5em) {
  .facts__fact__img {
    height: 166px;
  }
}

@media only screen and (max-width: 37.5em) {
  .facts__fact__img {
    width: 370px;
  }
}

.posterFour {
  background-color: grey;
  grid-column: cover-start / cover-end;
}

.footer {
  grid-column: full-start / full-end;
  background-color: #08192b;
  padding: 2rem 3rem;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.footer ::selection {
  background-color: darkcyan;
  color: #000;
}

@media only screen and (max-width: 75em) {
  .footer {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .footer {
    padding: 1rem 1rem;
    font-size: 1.35rem;
  }
}

hr {
  margin: 0 5rem;
  border-top-color: #869fb2;
  opacity: 0.5;
}

.holder-up {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: right;
}

@media only screen and (max-width: 62.5em) {
  .holder-up {
    padding: 2rem;
    grid-gap: 0;
  }
}

@media only screen and (max-width: 50em) {
  .holder-up {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    padding: 0.5rem;
  }
}

.holder-up__title {
  margin: 2rem 0;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media only screen and (max-width: 62.5em) {
  .holder-up__title {
    font-size: 1.7rem;
  }
}

.holder-up__links {
  margin: 2rem 0;
  list-style: none;
  display: block;
}

.holder-up__links-tag {
  font-weight: 400;
  color: #cfd9e0;
  display: inline-block;
  text-decoration: none;
}

.holder-up__links-tag:hover {
  color: #bac8d3;
}

.holder-up__paragraph {
  color: #cfd9e0;
  font-weight: 400;
}

.holder-down {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  margin-top: -4rem;
  padding: 5rem;
}

.holder-down__copyright {
  color: #869fb2;
  align-self: start;
}

.effect {
  background-color: #08192b;
}

.effect h2 {
  color: #08192b;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 3px;
}

.effect:nth-child(2) {
  margin-top: 50px;
}

.effect:nth-child(2n) a {
  color: #08192b;
  border-color: #08192b;
}

.effect .buttons {
  display: grid;
  grid-template-columns: repeat(3, 7rem);
  justify-content: end;
  margin-right: -3.7rem;
}


@media only screen and (max-width: 415px) {
  .effect .buttons {
    margin-right: 2.3rem;
  }
}

@media only screen and (max-width: 376px) {
  .effect .buttons {
    margin-right: 0.3rem;
  }
}

/* styles for a common effect !!!YOU NEED THEM */
.effect a {
  text-decoration: none !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  color: #869fb2;
  border: 2px solid #869fb2;
}

.effect a i {
  position: relative;
  z-index: 3;
}

.effect a:last-child {
  margin-right: 0px;
}

.effect a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.effect a i {
  display: inline-block;
  vertical-align: middle;
}

/* lavinia effect */
.effect.thurio a {
  transition: border-radius 0.2s linear 0s;
  transform: rotate(45deg);
}

.effect.thurio a i {
  transition: transform 0.01s linear 0s;
  transform: rotate(-45deg);
}

.effect.thurio a:hover {
  border-radius: 0px;
}

.profiles {
  background-color: #0000000a;
  grid-column: cover-start / cover-end;
  border: 1px solid #2222220f;
  border-top: 2px solid #399;
  border-radius: 2px;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  text-align: center;
}

.profiles__title {
  text-align: center;
  font-size: 2.7rem;
  text-decoration: none;
}

.pros {
  padding: 2rem;
  grid-column: poster-start / poster-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .pros {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}

@media only screen and (max-width: 37.5em) {
  .pros {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}

@media only screen and (max-width: 479px) {
  .pros {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}


.pro {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
}

.pro__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  align-items: center;
}

.pro__img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  display: block;
  border: solid #339A99 2px;
}

@media only screen and (max-width: 37.5em) {
  .pro__img {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .pro__img {
    height: 12rem;
    width: 12rem;
  }
}



.pro__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.matchTitle {
  background-color: #fff;
  color: #000;
  padding: 1rem 5rem;
}